{% extends 'main/base.html' %}

{% block title %}
Create tasks
{% endblock %}

{% block content %}
<h1>Создать таск</h1>
<form method="post">
    {% csrf_token %}
    {{ form.title }}<br><br>
    {{ form.task }} <br>
    <!-- <input type="text" placeholder="Введете название" class="form-control"><br>
    <textarea type="text" placeholder="Введете название" class="form-control"></textarea><br><br> -->
    <button type="submit" class="btn btn-success">Добавить</button>
    <span>{{ error }}</span>
</form>

{% endblock %}
